*{
    padding: 0px;
    margin: 0px;
}
.cards
{
    flex-direction: row;
}

body
{
    width: 100%;
    height: 100%;

}
.first_header{
    text-align: center;
    width: 100%;
    background-color: rgb(0, 217, 255);
}
h1{
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.internet_button, .voic_button, .sms_button
{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}
.setting_button, .other_button, .nothing_button
{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}

.setting_button,.other_button
{
    background-color: white;
}
.sms_button
{
    background-color: rgb(84, 167, 255);
    color: white;
}
.voic_button
{
    background-color: rgb(212, 212, 212);
}
.internet_button{
    background-color: rgb(92, 219, 254);
}
.nothing_button
{
    background-color: rgb(255, 255, 255);
}


img{
    width: 500px;
	height: 280px;
}
label
{
	font-size: 250%;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;
}